<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
	<div class="container">
		<h1>Hello</h1>
		<p>Click here <a href="<%= verify_link; %>" target="_blank"><%= verify_link; %>"</a></p>
		<hr />
		<p><i>Cheers</i></p>
	</div>
</body>
</html>