
<footer>
	<div class="container">
		<p>Copyright &copy; <% if(currentYear){ %> <%= currentYear; %> <% } %> by Mykhailo418</p>
	</div>
</footer>
<script src="/public/js/scripts.js"></script>

<% if(isAuth && isSocket){ %>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/socket.js"></script>
<% } %>

</body>
</html>