<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet/less" type="text/css" href="/public/css/style.less" />
  <script src="/public/js/less.min.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
			<div class="container">
				<ul class="navbar-nav mr-auto">
					<% if( isAuth ){ %>
						<li class="nav-item" >
							<a class="nav-link" href="/user/<%= isAuth %>">Profile</a>
						</li>
						<li class="nav-item" >
							<a class="nav-link" href="/user/<%= isAuth %>/rooms">Game Rooms</a>
						</li>
						<li class="nav-item" >
							<a class="nav-link" href="/logout">logout</a>
						</li>
					<% } %>
					<% if( !isAuth ){ %>
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item" >
							<a class="nav-link" href="/register">Registration</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
					<% } %>
				</ul>
			</div>
		</nav>
	</header>
	<% 
		if(flashMessages){ 
			for (var type in flashMessages) {
	%>
		<div class="alert alert-<%= type; %>">
			<% flashMessages[type].forEach(function(msg){  %>
				<div class="container"><strong><%= msg; %></strong></div>
			<% }) %>
		</div>
	<% 
			}
		} 
	%>