<%- include('header') -%>

<section>
	<div class="container">
		<h3>Available game rooms</h3>
		<div class="loading">Loading...</div>
		<ul id="roomsList" hidden ></ul>
		<button id="createRoomBtn" class="btn btn-primary">Create New Room</button>
	</div>
</section>

<%- include('footer') -%>